doctype html
  
html    
    body 
        form(action="/addStudentWeight" method="POST")
            label ID
            input(type="text" value=`${studentid}` name="id")
            br
            label Enter Weight
            input(type="text" name="weight")
            br
            label Enter Date
            input(type="date" name="date")
            br
            label Enter gender
            input(type="text" name="gender")
            br
            label Enter Hipsize
            input(type="text" name="Hipsize")
            br
            label Enter musclemass
            input(type="text" name="musclemass")
            br
            button Add Weight